@use '../../global/common' as global;

/* ------------------------------
 メディア画像・画像・画像URL
------------------------------ */

/* 上下余白 */
:where(.#{global.$entry-class}) figure,
:where(.#{global.$entry-class}) [role='figure']:not(:has(a[href*='media-download'], a[href*='storage'])) {
  margin-block: var(--unit-margin-top) var(--unit-margin-bottom);
  margin-inline: 0;
  line-height: 0; /* Descender space 対策 */
  text-align: center;

  a {
    display: inline-block;

    /* リセット用 */
    text-decoration: none;

    /* マウスオーバー用 */
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 0.7;
    }
  }

  img {
    display: inline-block;
    max-width: 100%;
    height: auto;
  }
}

/* キャプション
------------------------------ */
:where(.#{global.$entry-class}) figcaption,
:where(.#{global.$entry-class})
  [role='figure']:not(:has(a[href*='media-download'], a[href*='storage']), .column-file)
  .caption {
  display: block;
  margin: 4px 0 0; /* 余白リセットのため全方向指定 */
  font-size: 0.9em;
  line-height: 1.3;
}
