@use 'global/common' as global;

@font-face {
  font-family: acms-fonts;
  font-style: normal;
  font-weight: normal;
  src: url(#{global.$acms-font + 'acms-fonts.eot'});
  src:
    url(#{global.$acms-font + 'acms-fonts.eot'}) format('embedded-opentype'),
    url(#{global.$acms-font + 'acms-fonts.ttf'}) format('truetype'),
    url(#{global.$acms-font + 'acms-fonts.woff'}) format('woff'),
    url(#{global.$acms-font + 'acms-fonts.svg'}) format('svg');
}

.acms-icon,
[class*='acms-icon-'] {
  display: inline-block;
  font-family: acms-fonts;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  text-decoration: inherit;
  text-transform: none;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.acms-icon-large {
  font-size: 16px;
  color: #999;
}

.acms-icon-contract-arrow {
  &::before {
    content: global.$icon-contract-arrow;
  }
}

.acms-icon-expand-arrow {
  &::before {
    content: global.$icon-expand-arrow;
  }
}

.acms-icon-facebook-circle {
  &::before {
    content: global.$icon-facebook-circle;
  }
}

.acms-icon-twitter-circle {
  &::before {
    content: global.$icon-twitter-circle;
  }
}

.acms-icon-list {
  &::before {
    content: global.$icon-list;
  }
}

.acms-icon-grid {
  &::before {
    content: global.$icon-grid;
  }
}

.acms-icon-device_turn {
  &::before {
    content: global.$icon-device_turn;
  }
}

.acms-icon-user-switch {
  &::before {
    content: global.$icon-user-switch;
  }
}

.acms-icon-contract {
  &::before {
    content: global.$icon-contract;
  }
}

.acms-icon-cross {
  &::before {
    content: global.$icon-cross;
  }
}

.acms-icon-minus {
  &::before {
    content: global.$icon-minus;
  }
}

.acms-icon-expand {
  &::before {
    content: global.$icon-expand;
  }
}

.acms-icon-plus {
  &::before {
    content: global.$icon-plus;
  }
}

.acms-icon-add-below {
  &::before {
    content: global.$icon-add-below;
  }
}

.acms-icon-add-duplicate {
  &::before {
    content: global.$icon-add-duplicate;
  }
}

.acms-icon-alias {
  &::before {
    content: global.$icon-alias;
  }
}

.acms-icon-app {
  &::before {
    content: global.$icon-app;
  }
}

.acms-icon-attention {
  &::before {
    content: global.$icon-attention;
  }
}

.acms-icon-backup {
  &::before {
    content: global.$icon-backup;
  }
}

.acms-icon-blog-children {
  &::before {
    content: global.$icon-blog-children;
  }
}

.acms-icon-blog {
  &::before {
    content: global.$icon-blog;
  }
}

.acms-icon-briefcase {
  &::before {
    content: global.$icon-briefcase;
  }
}

.acms-icon-cart {
  &::before {
    content: global.$icon-cart;
  }
}

.acms-icon-category {
  &::before {
    content: global.$icon-category;
  }
}

.acms-icon-change-blog {
  &::before {
    content: global.$icon-change-blog;
  }
}

.acms-icon-checklist {
  &::before {
    content: global.$icon-checklist;
  }
}

.acms-icon-clip {
  &::before {
    content: global.$icon-clip;
  }
}

.acms-icon-close {
  &::before {
    content: global.$icon-close;
  }
}

.acms-icon-comment {
  &::before {
    content: global.$icon-comment;
  }
}

.acms-icon-config {
  &::before {
    content: global.$icon-config;
  }
}

.acms-icon-control-edit {
  &::before {
    content: global.$icon-control-edit;
  }
}

.acms-icon-control-move {
  &::before {
    content: global.$icon-control-move;
  }
}

.acms-icon-control-remove {
  &::before {
    content: global.$icon-control-remove;
  }
}

.acms-icon-dashboard {
  &::before {
    content: global.$icon-dashboard;
  }
}

.acms-icon-delete {
  &::before {
    content: global.$icon-delete;
  }
}

.acms-icon-down {
  &::before {
    content: global.$icon-down;
  }
}

.acms-icon-entry {
  &::before {
    content: global.$icon-entry;
  }
}

.acms-icon-exit {
  &::before {
    content: global.$icon-exit;
  }
}

.acms-icon-flag {
  &::before {
    content: global.$icon-flag;
  }
}

.acms-icon-form {
  &::before {
    content: global.$icon-form;
  }
}

.acms-icon-graph {
  &::before {
    content: global.$icon-graph;
  }
}

.acms-icon-import {
  &::before {
    content: global.$icon-import;
  }
}

.acms-icon-left {
  &::before {
    content: global.$icon-left;
  }
}

.acms-icon-lock {
  &::before {
    content: global.$icon-lock;
  }
}

.acms-icon-logo {
  &::before {
    content: global.$icon-logo;
  }
}

.acms-icon-mail {
  &::before {
    content: global.$icon-mail;
  }
}

.acms-icon-media {
  &::before {
    content: global.$icon-media;
  }
}

.acms-icon-mobile {
  &::before {
    content: global.$icon-mobile;
  }
}

.acms-icon-module {
  &::before {
    content: global.$icon-module;
  }
}

.acms-icon-money {
  &::before {
    content: global.$icon-money;
  }
}

.acms-icon-open {
  &::before {
    content: global.$icon-open;
  }
}

.acms-icon-pin {
  &::before {
    content: global.$icon-pin;
  }
}

.acms-icon-publish {
  &::before {
    content: global.$icon-publish;
  }
}

.acms-icon-right {
  &::before {
    content: global.$icon-right;
  }
}

.acms-icon-rule {
  &::before {
    content: global.$icon-rule;
  }
}

.acms-icon-schedule {
  &::before {
    content: global.$icon-schedule;
  }
}

.acms-icon-shortcut {
  &::before {
    content: global.$icon-shortcut;
  }
}

.acms-icon-sort {
  &::before {
    content: global.$icon-sort;
  }
}

.acms-icon-sort2 {
  &::before {
    content: global.$icon-sort2;
  }
}

.acms-icon-tag {
  &::before {
    content: global.$icon-tag;
  }
}

.acms-icon-time {
  &::before {
    content: global.$icon-time;
  }
}

.acms-icon-tooltip {
  &::before {
    content: global.$icon-tooltip;
  }
}

.acms-icon-trash {
  &::before {
    content: global.$icon-trash;
  }
}

.acms-icon-unit-eximage {
  &::before {
    content: global.$icon-unit-eximage;
  }
}

.acms-icon-unit-file {
  &::before {
    content: global.$icon-unit-file;
  }
}

.acms-icon-unit-image_h2 {
  &::before {
    content: global.$icon-unit-image_h2;
  }
}

.acms-icon-unit-image {
  &::before {
    content: global.$icon-unit-image;
  }
}

.acms-icon-unit-map {
  &::before {
    content: global.$icon-unit-map;
  }
}

.acms-icon-unit-text {
  &::before {
    content: global.$icon-unit-text;
  }
}

.acms-icon-unit-youtube {
  &::before {
    content: global.$icon-unit-youtube;
  }
}

.acms-icon-up {
  &::before {
    content: global.$icon-up;
  }
}

.acms-icon-user-group {
  &::before {
    content: global.$icon-user-group;
  }
}

.acms-icon-user {
  &::before {
    content: global.$icon-user;
  }
}

.acms-icon-workflow {
  &::before {
    content: global.$icon-workflow;
  }
}

.acms-icon-google {
  &::before {
    content: global.$icon-google;
  }
}

.acms-icon-google-square {
  &::before {
    content: global.$icon-google-square;
  }
}

.acms-icon-config_access {
  &::before {
    content: global.$icon-config_access;
  }
}

.acms-icon-config_alias_list {
  &::before {
    content: global.$icon-config_alias_list;
  }
}

.acms-icon-config_api_bing_image-search {
  &::before {
    content: global.$icon-config_api_bing_image-search;
  }
}

.acms-icon-config_api_bing_web-search {
  &::before {
    content: global.$icon-config_api_bing_web-search;
  }
}

.acms-icon-config_api_instagram_users_media_liked {
  &::before {
    content: global.$icon-config_api_instagram_users_media_liked;
  }
}

.acms-icon-config_api_instagram_users_media_recent {
  &::before {
    content: global.$icon-config_api_instagram_users_media_recent;
  }
}

.acms-icon-config_api_twitter_list_members {
  &::before {
    content: global.$icon-config_api_twitter_list_members;
  }
}

.acms-icon-config_api_twitter_list_statuses {
  &::before {
    content: global.$icon-config_api_twitter_list_statuses;
  }
}

.acms-icon-config_api_twitter_search {
  &::before {
    content: global.$icon-config_api_twitter_search;
  }
}

.acms-icon-config_api_twitter_statuses_home-timeline {
  &::before {
    content: global.$icon-config_api_twitter_statuses_home-timeline;
  }
}

.acms-icon-config_api_twitter_statuses_user-timeline {
  &::before {
    content: global.$icon-config_api_twitter_statuses_user-timeline;
  }
}

.acms-icon-config_authorize {
  &::before {
    content: global.$icon-config_authorize;
  }
}

.acms-icon-config_banner {
  &::before {
    content: global.$icon-config_banner;
  }
}

.acms-icon-config_blog_child-list {
  &::before {
    content: global.$icon-config_blog_child-list;
  }
}

.acms-icon-config_cache {
  &::before {
    content: global.$icon-config_cache;
  }
}

.acms-icon-config_calendar_month {
  &::before {
    content: global.$icon-config_calendar_month;
  }
}

.acms-icon-config_category_entry-list {
  &::before {
    content: global.$icon-config_category_entry-list;
  }
}

.acms-icon-config_category_entry-summary {
  &::before {
    content: global.$icon-config_category_entry-summary;
  }
}

.acms-icon-config_category_list {
  &::before {
    content: global.$icon-config_category_list;
  }
}

.acms-icon-config_column_list {
  &::before {
    content: global.$icon-config_column_list;
  }
}

.acms-icon-config_common {
  &::before {
    content: global.$icon-config_common;
  }
}

.acms-icon-config_default {
  &::before {
    content: global.$icon-config_default;
  }
}

.acms-icon-config_edit {
  &::before {
    content: global.$icon-config_edit;
  }
}

.acms-icon-config_entry_archive-list {
  &::before {
    content: global.$icon-config_entry_archive-list;
  }
}

.acms-icon-config_entry_body {
  &::before {
    content: global.$icon-config_entry_body;
  }
}

.acms-icon-config_entry_calendar {
  &::before {
    content: global.$icon-config_entry_calendar;
  }
}

.acms-icon-config_entry_continue {
  &::before {
    content: global.$icon-config_entry_continue;
  }
}

.acms-icon-config_entry_headline {
  &::before {
    content: global.$icon-config_entry_headline;
  }
}

.acms-icon-config_entry_list {
  &::before {
    content: global.$icon-config_entry_list;
  }
}

.acms-icon-config_entry_photo {
  &::before {
    content: global.$icon-config_entry_photo;
  }
}

.acms-icon-config_entry_summary {
  &::before {
    content: global.$icon-config_entry_summary;
  }
}

.acms-icon-config_entry_tag-relational {
  &::before {
    content: global.$icon-config_entry_tag-relational;
  }
}

.acms-icon-config_export {
  &::before {
    content: global.$icon-config_export;
  }
}

.acms-icon-config_feed_ex-list {
  &::before {
    content: global.$icon-config_feed_ex-list;
  }
}

.acms-icon-config_feed_rss2 {
  &::before {
    content: global.$icon-config_feed_rss2;
  }
}

.acms-icon-config_field_value-list {
  &::before {
    content: global.$icon-config_field_value-list;
  }
}

.acms-icon-config_function {
  &::before {
    content: global.$icon-config_function;
  }
}

.acms-icon-config_import {
  &::before {
    content: global.$icon-config_import;
  }
}

.acms-icon-config_links {
  &::before {
    content: global.$icon-config_links;
  }
}

.acms-icon-config_mail {
  &::before {
    content: global.$icon-config_mail;
  }
}

.acms-icon-config_navigation {
  &::before {
    content: global.$icon-config_navigation;
  }
}

.acms-icon-config_output {
  &::before {
    content: global.$icon-config_output;
  }
}

.acms-icon-config_plugin_schedule {
  &::before {
    content: global.$icon-config_plugin_schedule;
  }
}

.acms-icon-config_property {
  &::before {
    content: global.$icon-config_property;
  }
}

.acms-icon-config_reset {
  &::before {
    content: global.$icon-config_reset;
  }
}

.acms-icon-config_shop_cart_list {
  &::before {
    content: global.$icon-config_shop_cart_list;
  }
}

.acms-icon-config_sitemap {
  &::before {
    content: global.$icon-config_sitemap;
  }
}

.acms-icon-config_tag_cloud {
  &::before {
    content: global.$icon-config_tag_cloud;
  }
}

.acms-icon-config_tag_filter {
  &::before {
    content: global.$icon-config_tag_filter;
  }
}

.acms-icon-config_theme {
  &::before {
    content: global.$icon-config_theme;
  }
}

.acms-icon-config_topicpath {
  &::before {
    content: global.$icon-config_topicpath;
  }
}

.acms-icon-config_unit {
  &::before {
    content: global.$icon-config_unit;
  }
}

.acms-icon-config_user_profile {
  &::before {
    content: global.$icon-config_user_profile;
  }
}

.acms-icon-config_user_search {
  &::before {
    content: global.$icon-config_user_search;
  }
}

.acms-icon-arrow-down {
  &::before {
    content: global.$icon-arrow-down;
  }
}

.acms-icon-arrow-left {
  &::before {
    content: global.$icon-arrow-left;
  }
}

.acms-icon-arrow-right {
  &::before {
    content: global.$icon-arrow-right;
  }
}

.acms-icon-arrow-small-down {
  &::before {
    content: global.$icon-arrow-small-down;
  }
}

.acms-icon-arrow-small-left {
  &::before {
    content: global.$icon-arrow-small-left;
  }
}

.acms-icon-arrow-small-right {
  &::before {
    content: global.$icon-arrow-small-right;
  }
}

.acms-icon-arrow-small-up {
  &::before {
    content: global.$icon-arrow-small-up;
  }
}

.acms-icon-arrow-up {
  &::before {
    content: global.$icon-arrow-up;
  }
}

.acms-icon-bike {
  &::before {
    content: global.$icon-bike;
  }
}

.acms-icon-book {
  &::before {
    content: global.$icon-book;
  }
}

.acms-icon-book2 {
  &::before {
    content: global.$icon-book2;
  }
}

.acms-icon-bus {
  &::before {
    content: global.$icon-bus;
  }
}

.acms-icon-business {
  &::before {
    content: global.$icon-business;
  }
}

.acms-icon-car {
  &::before {
    content: global.$icon-car;
  }
}

.acms-icon-children {
  &::before {
    content: global.$icon-children;
  }
}

.acms-icon-company {
  &::before {
    content: global.$icon-company;
  }
}

.acms-icon-cup {
  &::before {
    content: global.$icon-cup;
  }
}

.acms-icon-custom-field {
  &::before {
    content: global.$icon-custom-field;
  }
}

.acms-icon-domain {
  &::before {
    content: global.$icon-domain;
  }
}

.acms-icon-facebook-square {
  &::before {
    content: global.$icon-facebook-square;
  }
}

.acms-icon-facebook {
  &::before {
    content: global.$icon-facebook;
  }
}

.acms-icon-gallery {
  &::before {
    content: global.$icon-gallery;
  }
}

.acms-icon-gift {
  &::before {
    content: global.$icon-gift;
  }
}

.acms-icon-gplus-square {
  &::before {
    content: global.$icon-gplus-square;
  }
}

.acms-icon-gplus {
  &::before {
    content: global.$icon-gplus;
  }
}

.acms-icon-home {
  &::before {
    content: global.$icon-home;
  }
}

.acms-icon-install {
  &::before {
    content: global.$icon-install;
  }
}

.acms-icon-ios-app {
  &::before {
    content: global.$icon-ios-app;
  }
}

.acms-icon-lisence-code {
  &::before {
    content: global.$icon-lisence-code;
  }
}

.acms-icon-lisence {
  &::before {
    content: global.$icon-lisence;
  }
}

.acms-icon-logout {
  &::before {
    content: global.$icon-logout;
  }
}

.acms-icon-lunch {
  &::before {
    content: global.$icon-lunch;
  }
}

.acms-icon-man {
  &::before {
    content: global.$icon-man;
  }
}

.acms-icon-manual {
  &::before {
    content: global.$icon-manual;
  }
}

.acms-icon-map-pin {
  &::before {
    content: global.$icon-map-pin;
  }
}

.acms-icon-map {
  &::before {
    content: global.$icon-map;
  }
}

.acms-icon-news {
  &::before {
    content: global.$icon-news;
  }
}

.acms-icon-person {
  &::before {
    content: global.$icon-person;
  }
}

.acms-icon-plane {
  &::before {
    content: global.$icon-plane;
  }
}

.acms-icon-role {
  &::before {
    content: global.$icon-role;
  }
}

.acms-icon-scissors {
  &::before {
    content: global.$icon-scissors;
  }
}

.acms-icon-search {
  &::before {
    content: global.$icon-search;
  }
}

.acms-icon-senior {
  &::before {
    content: global.$icon-senior;
  }
}

.acms-icon-server {
  &::before {
    content: global.$icon-server;
  }
}

.acms-icon-ship {
  &::before {
    content: global.$icon-ship;
  }
}

.acms-icon-shop {
  &::before {
    content: global.$icon-shop;
  }
}

.acms-icon-support {
  &::before {
    content: global.$icon-support;
  }
}

.acms-icon-target-blank {
  &::before {
    content: global.$icon-target-blank;
  }
}

.acms-icon-tel {
  &::before {
    content: global.$icon-tel;
  }
}

.acms-icon-train {
  &::before {
    content: global.$icon-train;
  }
}

.acms-icon-truck {
  &::before {
    content: global.$icon-truck;
  }
}

.acms-icon-twitter-square {
  &::before {
    content: global.$icon-twitter-square;
  }
}

.acms-icon-twitter {
  &::before {
    content: global.$icon-twitter;
  }
}

.acms-icon-unlimited {
  &::before {
    content: global.$icon-unlimited;
  }
}

.acms-icon-user-add {
  &::before {
    content: global.$icon-user-add;
  }
}

.acms-icon-version {
  &::before {
    content: global.$icon-version;
  }
}

.acms-icon-woman {
  &::before {
    content: global.$icon-woman;
  }
}

.acms-icon-youtube {
  &::before {
    content: global.$icon-youtube;
  }
}

.acms-icon-text-center {
  &::before {
    content: global.$icon-text-center;
  }
}

.acms-icon-text-left {
  &::before {
    content: global.$icon-text-left;
  }
}

.acms-icon-merge {
  &::before {
    content: global.$icon-merge;
  }
}

.acms-icon-split {
  &::before {
    content: global.$icon-split;
  }
}

.acms-icon-text-right {
  &::before {
    content: global.$icon-text-right;
  }
}

.acms-icon-source {
  &::before {
    content: global.$icon-source;
  }
}

.acms-icon-undo {
  &::before {
    content: global.$icon-undo;
  }
}

.acms-icon-x {
  &::before {
    content: global.$icon-x;
  }
}

.acms-icon-x-square {
  &::before {
    content: global.$icon-x-square;
  }
}

.acms-icon-x-circle {
  &::before {
    content: global.$icon-x-circle;
  }
}
