@use 'global/common' as global;

/* ------------------------------
  共通
 ------------------------------ */
html {
  position: relative;
}

body {
  padding: 0 0 40px;
  font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, 'メイリオ', 'ＭＳ Ｐゴシック', 'MS PGothic',
    Verdana, sans-serif;
  color: global.$acms-color-black;
  background: global.$acms-color-white;

  @include global.font-size(14);
}

// フォント
// ---------------
.acms-admin-font {
  font-family: acms-admin-fonts, 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W6', Meiryo, 'メイリオ',
    'ＭＳ Ｐゴシック', 'MS PGothic', Verdana, sans-serif;
}

/* ------------------------------
  ヘッダー
 ------------------------------ */
.tv-page-header {
  margin: 0;
  background: #101013;

  .acms-admin-container {
    margin-bottom: 0;
  }
}

.tv-page-header-inner {
  padding: 0 20px;
}

.tv-page-title {
  padding: 10px 0;
  margin: 0;
  color: global.$acms-color-white;

  @include global.font-size(13);
}

/* ------------------------------
  メイン
 ------------------------------ */
.tv-main {
  padding: 0 20px 0 236px;
  background: global.$acms-color-white;
}

// メインコンテンツ
// ----------------------------
.tv-main-contents {
  margin: 0 0 20px;
  clear: both;
}

.tv-section {
  padding: 5px 0 0;
  margin: 0 0 30px;
}

// ヘッダー
.tv-header-info {
  margin: 0 0 15px;

  @include global.clearfix;
}

.tv-info-item {
  float: left;
  padding: 8px 0;
  margin: 0 10px 0 0;
}

.tv-info-label {
  margin: 0 10px 0 0;
}

// タブ
.tv-tab {
  margin: 0 0 10px;

  @include global.clearfix;
}

.tv-tab-list {
  padding: 0;
  margin: 0 -5px;
  list-style: none;
}

.tv-tab-list-item {
  float: left;
  margin: 0 5px;
}

.tv-tab-list-link {
  display: inline-block;
  padding: 7px 0;
  border-bottom: 2px solid transparent;

  &:hover {
    color: global.$acms-color-black;
    text-decoration: none;
    border-bottom: 2px solid global.$acms-color-system-gray70;
  }

  &.js-acms_tab-active {
    font-weight: bold;
    color: global.$acms-color-black;
    border-bottom: 2px solid global.$acms-color-system-gray70;
  }
}

.tv-tab-area {
  margin: 0 0 20px;
  border: 1px solid global.$acms-color-gray60;
}

.tv-tab-item {
  display: none;
}

// テーブル
.acms-admin-admin-mini-table {
  margin: 0;

  th {
    background: global.$acms-color-system-gray20;
  }
}

.tv-parameter-text {
  padding: 0 15px;
}

// プレビュー
.tv-preview {
  padding: 10px;
  background-color: global.$acms-color-system-gray10;
}

.tv-preview-area {
  padding: 10px;
  overflow: scroll;
  background: global.$acms-color-white;
}

// コメント
.tv-comment {
  position: relative;
  padding: 20px 15px 15px;
  margin: 0 0 10px;
  line-height: 1.5;
  border: 1px solid global.$acms-color-gray60;
}

.tv-comment-text {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 0 5px;
  line-height: 1;

  .acms-admin-label {
    border-radius: 0 0 3px;
  }
}

/* ------------------------------
  サブ
 ------------------------------ */
.tv-sub {
  height: 100%;
}

.tv-sidebar {
  position: absolute;
  top: 40px;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  width: 216px;
  height: 100%;
  padding: 12px 0;
  background: global.$acms-color-system-gray10;

  &.fixed {
    position: fixed;
    top: 0;
  }
}

.tv-form-inner {
  padding: 0 20px 15px;
}

// ナビゲーション
.tv-side-navigation-wrap {
  height: 100%;
  overflow: scroll;
}

.tv-side-navigation {
  padding: 0;
  margin: 0;
  list-style: none;

  /* リンクの設定 */
  a {
    color: global.$acms-color-link-text;
    text-decoration: none;
    border: none;
  }

  a:visited,
  a:active {
    color: global.$acms-color-link-text;
    text-decoration: none;
  }

  a:hover {
    color: global.$acms-color-link-text;
    text-decoration: underline;
  }
}

.tv-side-navigation-item {
  margin: 0;
}

.tv-side-navigation-link {
  display: block;
  padding: 10px 20px;

  &.current,
  &:hover {
    text-decoration: none;
    background: global.$acms-color-info10;
  }
}
