@use 'global/common' as global;

/* ------------------------------
 タイトル
------------------------------- */
.acms-heading {
  padding: 5px 0;
  margin-bottom: 10px;
  color: global.$acms-color-black;
  border-bottom: 2px solid global.$acms-color-black;

  @include global.font-size(18);

  a {
    color: inherit;
    text-decoration: none;
  }
}

.acms-page-header {
  margin-top: 45px;
  margin-bottom: 10px;
  border-bottom: 2px solid global.$acms-color-black;

  a {
    color: inherit;
    text-decoration: none;
  }

  .acms-page-heading {
    @include global.font-size(28);
  }
}
