## CMS
ablogcms/config.server.php
ablogcms/license.php
/ablogcms/.htaccess
/ablogcms/.htpasswd
/ablogcms/archives/*
!/ablogcms/archives/.htaccess
/ablogcms/archives_rev/*
!/ablogcms/archives_rev/.htaccess
/ablogcms/media/*
!/ablogcms/media/.htaccess
/ablogcms/storage/*
!/ablogcms/storage/.htaccess
/ablogcms/cache/*
!/ablogcms/cache/.htaccess
/ablogcms/private/backup*
/ablogcms/_setup*
/ablogcms/setup*
/ablogcms/extension/plugins/*
# /ablogcms/themes/*/dest/*

## Backup
/ablogcms/backup_*

## Editor
.idea
.vscode

## MacOS
.DS_Store

## Logs
/logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*


## Docker
compose.override.yaml

## Etc
.env
.stylelintcache
*.local
node_modules
php.ini
.claude
/ablogcms/wp-content/*
