@use '../global/common' as global;

/* ------------------------------
 メディア
------------------------------- */
// ------------------------------
// モーダル
// ------------------------------
.acms-media-modal {
  z-index: global.zIndex(acms-media-modal) !important;
  isolation: isolate; // モーダルの中のz-indexを通常の重ね合わせコンテキストから独立させる
  transform: scale(1); //for ie;
}

.acms-media-modal-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding-top: 5px;
  margin-bottom: -5px;
  border-top: 0;
}

@include global.media-breakpoint-down(sm) {
  .acms-media-cancel-btn {
    display: none;
  }
}

.acms-media-table-edit {
  width: 100%;
  font-size: 14px;
  line-height: 1.7;
  border-collapse: collapse;
  border: none;

  th {
    width: 115px;
    color: global.$acms-color-gray90;
    text-align: right;
    white-space: nowrap;
    vertical-align: top;
  }

  td {
    padding-right: 5px;
    padding-left: 5px;
  }

  tr:not(:last-child) th,
  tr:not(:last-child) td {
    padding-bottom: 15px;
  }
}

@include global.media-breakpoint-down(sm) {
  .acms-media-table-edit th,
  .acms-media-table-edit td {
    display: block;
    text-align: left;
  }

  .acms-media-table-edit tr:not(:last-child) th {
    padding: 2px 5px 5px;
  }

  .acms-media-table-edit tr:not(:last-child) td {
    display: block;
    padding: 2px 5px 15px;
  }
}

// ------------------------------
// ソートUI
// ------------------------------
.acms-media-action-item {
  margin: 0 0 10px;
}

.acms-media-action-item-fix {
  display: flex;
}

.acms-media-action-item-middle {
  display: flex;
  flex-wrap: wrap;
}

.acms-media-action-display-switch {
  margin: 0 0 0 auto;
}

.acms-media-action-select-all {
  padding: 5px 10px;
  margin: 0 10px 0 0;
  background: #f6f6f9;
  border-radius: 3px;

  @include global.font-size(13);
}

.acms-media-action-range {
  position: relative;
  width: 100%;
  padding: 5px 10px;
  margin: 0 0 10px;
  background: #f6f6f9;
  border-radius: 3px;
}

.acms-media-action-sort-select-wrap {
  position: relative;
  display: flex;
  order: -1;
}

.acms-media-action-sort-select {
  margin: 0 10px 0 0;
}

@include global.media-breakpoint-up(md) {
  .acms-media-action-item-fix {
    float: right;
  }

  .acms-media-action-item-middle {
    float: right;
  }

  .acms-media-action-select-all {
    order: 1;

    @include global.font-size(12);
  }

  .acms-media-action-range {
    order: 3;
    width: 220px;
    padding: 4px 8px;
    margin: 0 10px 0 0;
  }

  .acms-media-action-sort-select {
    order: 2;
  }
}

// ------------------------------
// 一覧表示
// ------------------------------
td.acms-media-row-image {
  position: relative;

  &::before {
    position: absolute;
    inset: 5px;
    display: block;
    content: '';
    background-color: global.$acms-color-system-gray10;
  }
}

.acms-media-row-title {
  width: 18%;
  overflow-wrap: break-word;
}

.acms-media-row-tag {
  width: 17%;
}

.acms-media-row-date {
  width: 10%;
}

.acms-media-row-size {
  width: 10%;
}

.acms-media-row-blogname {
  width: 15%;
}

.acms-media-list-thumbnail-wrap {
  position: relative;
}

.acms-media-list-thumbnail {
  display: block;
  max-width: 50px;
  max-height: 50px;
  margin: 0 auto;
  vertical-align: middle;
}

// ------------------------------
// グリッド表示
// ------------------------------
.acms-media-grid {
  display: flex;
  flex-wrap: wrap;
}

.acms-media-grid-item {
  box-sizing: border-box;
  padding: 5px;
  cursor: pointer;
}

@include global.media-breakpoint-down(lg) {
  .acms-media-grid-item {
    width: 25% !important;
    height: auto !important;
    padding: 1px;
  }

  .acms-media-action-range {
    display: none;
  }
}

// ------------------------------
// サムネイル表示
// ------------------------------
.acms-media-thumb {
  position: static;
  top: auto;
  left: auto;
  width: 100%;
  height: auto;
  min-height: 300px;
  max-height: 400px;
  padding-bottom: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  transform: translate(0, 0);
}

.acms-media-thumb-box {
  min-height: 300px;
  max-height: 400px;
}

.acms-media-thumb-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  min-height: 300px;
  max-height: 400px;
  padding-bottom: 0;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAC1JREFUeNpi5GBhkWLAA378+fMMnzwTA4Vg1IDBYAAjIQWE0sloIA4LAwACDABOxARJOkvQxAAAAABJRU5ErkJggg==');
  border: 4px solid global.$edit-entry-bg-color-light;
}

.acms-media-thumb-container-assets {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: global.$edit-entry-bg-color-light;
  background-image: none;
}

.acms-media-thumb-assets {
  position: static;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(0, 0);
}

@include global.media-breakpoint-up(sm) {
  .acms-media-thumb,
  .acms-media-thumb-box,
  .acms-media-thumb-container {
    max-height: 500px;
  }
}

@include global.media-breakpoint-up(md) {
  .acms-media-thumb {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 0;
    min-height: 0;
    max-height: auto;
    padding-bottom: 100%;
    transform: translate(-50%, -50%);
  }

  .acms-media-thumb-box {
    min-height: 0;
    max-height: auto;
  }

  .acms-media-thumb-container {
    position: relative;
    display: block;
    width: 100%;
    height: 0;
    min-height: 0;
    max-height: auto;
    padding-bottom: 100%;
  }

  .acms-media-thumb-assets {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.acms-media-thumb-ext {
  margin: 15px 0 0;
  font-weight: bold;
  color: global.$acms-color-black;

  @include global.font-size(16);
}

.acms-media-thumb-edit {
  position: absolute;
  top: 10px;
  right: 10px;
}

.acms-media-grid-checkbox {
  position: relative;
  z-index: 0;
  width: 30px;
  height: 30px;
  background-color: global.$acms-color-white;
  background-size: cover;
  border-radius: 50%;
  opacity: 0.6;
  transition:
    opacity 0.3s ease-out,
    background-color 0.3s ease-out;

  &::before {
    position: absolute;
    top: 7px;
    left: 7px;
    display: block;
    width: 14px;
    height: 8px;
    content: '';
    border: 2px solid global.$acms-color-gray80;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
  }

  + input[type='checkbox'] {
    display: none;
  }
}

.acms-media-thumb-pager-arrow {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  margin-top: -25px;
  color: global.$acms-color-white;
  background: rgb(0 0 0 / 10%);
  border: 0;
  border-radius: 50%;
  transition:
    transform 0.15s ease-in-out,
    background 0.2s ease-in-out;

  &:focus {
    background: rgb(0 0 0 / 70%);
    border: 1px solid global.$acms-btn-focus-border-color;
    outline: 0;
    box-shadow: global.$acms-btn-focus-box-shadow;
  }
}

.acms-media-thumb-container {
  overflow: hidden;
}

.acms-media-thumb-pager-arrow-left {
  left: 13px;
  transform: translate(-10px, 0);

  @include global.font-size(25);
}

.acms-media-thumb-pager-arrow-right {
  right: 13px;
  transform: translate(10px, 0);

  @include global.font-size(25);
}

.acms-media-thumb-container:hover {
  .acms-media-thumb-pager-arrow {
    background: rgb(0 0 0 / 40%);
    transform: translate(0);
  }
}

.acms-media-thumb-pager-arrow {
  .acms-media-thumb-container &:hover {
    background: rgb(0 0 0 / 70%);
  }
}

// クリップボード
// ------------------------------
.acms-media-clipboard {
  padding: 0 10px;
}

@include global.media-breakpoint-up(md) {
  .acms-media-clipboard {
    padding: 0 20px;
  }
}

// チェックボックス
// ------------------------------
.acms-media-grid-checkbox-wrap {
  padding: 0;
  line-height: 1.6;
  appearance: none;
  cursor: pointer;
  background-color: transparent;
  border: 0;

  .acms-media-grid-checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
    background-color: global.$acms-color-gray60;
    opacity: 1;

    &::before {
      top: 5px;
      left: 4px;
      width: 10px;
      height: 6px;
      border-bottom-color: global.$acms-color-white;
      border-left-color: global.$acms-color-white;
    }
  }

  &:hover .acms-media-grid-checkbox,
  .acms-media-grid-checkbox.selected {
    background-color: global.$acms-color-info60;
  }
}

@include global.media-breakpoint-up(md) {
  .acms-media-grid-checkbox-wrap {
    line-height: 1.3;

    .acms-media-grid-checkbox {
      width: 16px;
      height: 16px;

      &::before {
        top: 4px;
        left: 3px;
        width: 8px;
        height: 4px;
      }
    }
  }
}

.acms-media-grid-figure {
  position: relative;
  box-sizing: border-box;
  padding-bottom: 100%;
  overflow: hidden;
  background-color: global.$acms-color-system-gray20;
  border: 1px solid global.$acms-color-system-gray30;

  .acms-media-grid-shadow {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    box-sizing: border-box;
    height: 20%;
    background: linear-gradient(to bottom, rgb(152 152 152 / 40%), transparent);
  }

  .acms-media-grid-flame {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 4px solid transparent;
    transition: border 0.3s ease-out;

    .acms-media-grid-checkbox {
      position: absolute;
      top: 5px;
      left: 5px;
    }

    &.selected {
      border: 4px solid global.$acms-color-info60;

      .acms-media-grid-checkbox {
        background-color: global.$acms-color-info60;
        opacity: 1;

        &::before {
          border-bottom-color: global.$acms-color-white;
          border-left-color: global.$acms-color-white;
        }
      }
    }
  }

  .acms-media-grid-img-wrap {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
  }

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    opacity: 0;
    transition: transform 0.3s;
    transform: translate(-50%, -50%);
  }

  &:hover img,
  &:focus-within img {
    transform: translate(-50%, -50%) scale(1) !important;
  }

  .acms-media-grid-file-img {
    position: static;
    transform: none;
  }

  .acms-media-grid-filename {
    margin-top: 5px;

    @include global.font-size(14);
  }

  &:hover .acms-media-grid-file-img {
    transform: none !important;
  }
}

@include global.media-breakpoint-down(lg) {
  .acms-media-grid-file-img {
    width: 50% !important;
  }
}

@include global.media-breakpoint-up(lg) {
  .acms-media-grid-figure {
    .acms-media-edit-list-btn-wrap {
      opacity: 0;
      transition: opacity 0.3s;
    }

    &:hover,
    &:focus-within {
      .acms-media-edit-list-btn-wrap {
        opacity: 0.6;

        &:hover {
          opacity: 1;
        }
      }
    }

    &:hover,
    &:focus-within {
      .acms-media-grid-checkbox {
        opacity: 1;
      }
    }
  }
}

// ------------------------------
// ボタン
// ------------------------------
.acms-media-edit-btn {
  display: block;
  padding: 3px 10px;
  line-height: 1.3;
  color: global.$acms-color-white;
  appearance: none;
  background-color: rgb(49 52 77 / 60%);
  border: 1px solid global.$acms-color-white;
  border-radius: 10em;

  @include global.font-size(12);

  &::before {
    display: inline-block;
    width: 9px;
    height: 12px;
    margin-right: 5px;
    vertical-align: middle;
    content: '';
    background-image: url('../images/system/pencil.png');
    background-size: cover;
  }
}

.acms-media-edit-list-btn-wrap {
  position: absolute;
  right: -2px;
  bottom: -2px;
  width: 100%;
  text-align: right;
}

@include global.media-breakpoint-up(lg) {
  .acms-media-edit-btn {
    padding: 8px 16px;

    @include global.font-size(14);

    &::before {
      width: 11px;
      height: 15px;
    }
  }

  .acms-media-edit-list-btn-wrap {
    right: 10px;
    bottom: 10px;
  }
}

.acms-media-upload-file {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -34px;
  margin-left: -34px;
}

.acms-media-edit-list-btn {
  display: inline-block;
}

.acms-media-edit-upload-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  margin-top: -18px;
  margin-left: -39px;
  opacity: 0;
  transition: opacity 0.3s;
}

.acms-media-edit-thumb-btn {
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 1;
  display: block;
  border: 1px solid global.$acms-color-white;
}

// ------------------------------
// アップロード
// ------------------------------
.acms-media-upload-item-inner:hover .acms-media-edit-upload-btn {
  opacity: 1;
}

.acms-media-upload-cancel {
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 3;
  width: 32px;
  height: 32px;
  background-color: rgb(0 0 0 / 60%);
  border: 1px solid global.$acms-color-white;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s;

  &::before {
    position: absolute;
    top: 14px;
    left: 8px;
    display: block;
    width: 15px;
    height: 1px;
    content: '';
    background-color: global.$acms-color-white;
    transform: rotate(45deg);
    transform-origin: center;
  }

  &::after {
    position: absolute;
    top: 14px;
    left: 8px;
    display: block;
    width: 15px;
    height: 1px;
    content: '';
    background-color: global.$acms-color-white;
    transform: rotate(-45deg);
    transform-origin: center;
  }
}

.acms-media-upload-item-inner:hover {
  .acms-media-upload-cancel {
    opacity: 1;
  }
}

.acms-media-upload-container {
  display: flex;
  flex-wrap: nowrap;
}

.acms-media-upload-container-wrap {
  width: 100%;
  overflow: auto hidden;
}

.acms-media-upload-item {
  padding: 10px;
}

.acms-media-upload-item-inner {
  position: relative;
  background-color: global.$acms-color-info10;
}

.acms-media-upload-cancel {
  position: absolute;
  top: 10px;
  right: 10px;
}

.acms-media-upload-bg {
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.acms-media-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: background-color 0.3s;
}

.acms-media-upload-item-inner:hover,
.acms-media-upload-item-inner.-progress {
  .acms-media-overlay {
    background-color: rgb(0 0 0 / 40%);
  }
}

.acms-media-upload-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  box-sizing: border-box;
  width: 100%;
  padding: 5px 10px;
  color: global.$acms-color-white;
  background-color: rgb(0 0 0 / 60%);
}

.acms-media-upload-caption-text {
  margin: 0;
  overflow: hidden;
  line-height: 1.7;
  text-overflow: ellipsis;

  @include global.font-size(12);
}

.acms-media-img-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-bottom: 5px;
  overflow: hidden;
  text-align: center;
  background-color: global.$acms-color-gray10;
  border: 2px solid global.$acms-color-gray50;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: 100%;
    transform: translate(-50%, -50%) !important;
  }
}

.acms-media-img-landscape img {
  width: 100%;
  height: auto;
}

.acms-media-img-outer {
  display: flex;
  flex-wrap: wrap;

  .acms-media-unit-item {
    width: 200px;
    margin-right: 5px;
  }
}

@include global.media-breakpoint-down(lg) {
  .acms-media-img-outer {
    .acms-media-unit-item {
      width: 25%;
    }
  }
}

.acms-media-btn-group {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.acms-media-upload-button {
  position: relative;
  width: 66px;
  height: 66px;
  margin: 0 auto;
  background-color: global.$acms-color-info10;
  border-radius: 50%;

  &::before {
    position: absolute;
    top: 50%;
    left: 19px;
    width: 28px;
    height: 1px;
    content: '';
    background-color: global.$acms-color-system-gray90;
  }

  &::after {
    position: absolute;
    top: 19px;
    left: 50%;
    width: 1px;
    height: 28px;
    content: '';
    background-color: global.$acms-color-system-gray90;
  }
}

// ------------------------------
// メディアユニット
// ------------------------------
.acms-media-unit-preview-area {
  width: 220px;
  vertical-align: top;
}

.acms-media-unit-droparea {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 35px 0;
  border: 1px dashed global.$acms-color-info80;
  border-radius: 3px;
  transition: background-color 0.3s;
}

.drag-n-drop-hover .acms-media-unit-droparea {
  background-color: rgb(0 77 198 / 10%);
}

.acms-media-unit-preview-wrap {
  position: relative;
  display: inline-block;
  min-width: 100px;
  padding: 4px;
  background-color: global.$acms-color-system-gray10;

  &:hover,
  &:focus-within {
    .acms-media-unit-preview-overlay {
      opacity: 1;
    }

    .acms-media-unit-preview-remove-btn {
      opacity: 1;
    }

    .acms-media-unit-preview-edit-btn {
      opacity: 1;
    }
  }

  .acms-media-unit-preview {
    width: auto;
    min-width: 100px;
    max-width: 200px;
    height: auto;
    max-height: 250px;
  }
}

.acms-media-unit-preview-group {
  display: flex;
  flex-wrap: wrap;
}

.acms-media-unit-preview-group-item {
  box-sizing: content-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  margin: 5px;

  .acms-media-unit-file-icon-wrap {
    width: 100px;
    height: 100px;
  }

  .acms-media-unit-file-icon {
    width: 32px;
    height: auto;
  }

  .acms-media-unit-file-caption {
    width: 100px;
  }
}

.acms-media-unit-file-caption {
  box-sizing: border-box;
  width: 100%;
  padding-right: 5px;
  padding-left: 5px;
  margin: 2px 0 0;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;

  @include global.font-size(11);
}

.acms-media-unit-preview-group-item-inner {
  position: relative;
  min-width: 100px;
}

.acms-media-unit-preview-group-img {
  max-height: 100px;
  margin: auto;
  background-color: global.$acms-color-gray30;
}

.acms-media-unit-preview-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 40%);
  opacity: 0;
  transition: opacity 0.3s;
}

.acms-media-unit-preview-edit-btn {
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 4px 8px;
  opacity: 0;
  transition: opacity 0.3s;

  @include global.font-size(11);
}

.acms-media-unit-file-icon {
  width: 64px;
  height: auto;
}

.acms-media-unit-file-icon-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  background-color: global.$acms-color-system-gray10;
}

.acms-media-unit-file-icon {
  border: 1px solid rgb(100 100 100 / 10%);
}

.acms-media-unit-preview-remove-btn {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s;

  &::before {
    transform: rotate(45deg);
    transform-origin: center;
  }

  &::after {
    transform: rotate(-45deg);
    transform-origin: center;
  }

  &::before,
  &::after {
    position: absolute;
    top: 14px;
    left: 8px;
    display: block;
    width: 15px;
    height: 1px;
    content: '';
    background-color: global.$acms-color-white;
  }
}

// ------------------------------
// メディアのカスタムフィールド
// ------------------------------
.acms-media-field-preview {
  display: block;
  width: auto;
  min-width: 100px;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

// ------------------------------
// メディアのモーダル用
// ------------------------------
.acms-media-modal-layout {
  display: flex;
  flex-direction: column;
}

.acms-media-modal-preview {
  flex-basis: auto;
  padding-right: 0;
}

.acms-media-modal-info {
  flex-basis: auto;
  padding-left: 0;
}

@include global.media-breakpoint-up(md) {
  .acms-media-modal-layout {
    flex-direction: row;
    align-items: flex-start;
  }

  .acms-media-modal-preview {
    flex-basis: 50%;
    padding-right: 10px;
  }

  .acms-media-modal-info {
    flex-basis: 50%;
    padding-left: 10px;
  }
}
