<!-- BEGIN column:loop -->
  <div data-unit-id="{unitId}">
    <!-- BEGIN text -->
    @section(admin-text-unit)
    @include('/admin/entry/unit/text.html')
    @endsection
    <!-- END text -->
    <!-- BEGIN table -->
    @section(admin-table-unit)
    @include('/admin/entry/unit/table.html')
    @endsection
    <!-- END table -->
    <!-- BEGIN image -->
    @section(admin-image-unit)
    @include('/admin/entry/unit/image.html')
    @endsection
    <!-- END image -->
    <!-- BEGIN file -->
    @section(admin-file-unit)
    @include('/admin/entry/unit/file.html')
    @endsection
    <!-- END file -->
    <!-- BEGIN youtube -->
    @section(admin-youtube-unit)
    @include('/admin/entry/unit/youtube.html')
    @endsection
    <!-- END youtube -->
    <!-- BEGIN video -->
    @section(admin-video-unit)
    @include('/admin/entry/unit/video.html')
    @endsection
    <!-- END video -->
    <!-- BEGIN eximage -->
    @section(admin-eximage-unit)
    @include('/admin/entry/unit/ex-image.html')
    @endsection
    <!-- END eximage -->
    <!-- BEGIN media -->
    @section(admin-media-unit)
    @include('/admin/entry/unit/media.html')
    @endsection
    <!-- END media -->
    <!-- BEGIN quote -->
    @section(admin-quote-unit)
    @include('/admin/entry/unit/embed.html')
    @endsection
    <!-- END quote -->
    <!-- BEGIN break -->
    @section(admin-break-unit)
    @include('/admin/entry/unit/break.html')
    @endsection
    <!-- END break -->
    <!-- BEGIN custom -->
    @include("/admin/entry/unit/custom.html")
    <!-- END custom -->

    @include("/admin/entry/unit/extend.html")
  </div>
<!-- END column:loop -->
