@use '../global/common' as global;

// ------------------------------
// コンフィグ
// ------------------------------
// コンフィグ名
.acms-config-name {
  @include global.font-size(14);

  a {
    display: block;
  }

  // アイコン
  .acms-icon {
    display: inline-block;
    color: #505050;
    vertical-align: middle;
  }

  // モジュール名
  .acms-config-module-name {
    display: inline-block;
    vertical-align: middle;
  }

  .acms-config-module-name-en {
    display: block;
    color: #777;

    @include global.font-size(11);
  }
}

// スニペットと変数表
.acms-config-code {
  text-align: right;

  a {
    display: none;
    margin-left: 10px;
    color: #888;
    vertical-align: middle;

    @include global.font-size(11);
  }

  .acms-icon {
    display: none;
  }
}

@include global.media-breakpoint-up(md) {
  .acms-config-code {
    width: 140px;

    a {
      display: inline;
    }
  }
}
