@use '../global/common' as global;

// ------------------------------
// ユーザーグループ編集
// ------------------------------
.argRefLeft strong,
.argRefCenter strong,
.argRefRight strong {
  display: block;
  margin-bottom: 5px;
}

.argRefLeft {
  float: left;
  width: 40%;
  height: 100%;
}

.argRefLeft .js-acms_tabs {
  height: 90%;
  padding: 0;
  overflow-y: auto;
  list-style: none;
}

.argRefLeft .js-acms_tabs li a {
  display: block;
  padding: 3px;
  margin-bottom: 2px;
  border: 1px solid silver;
  border-right: none;
}

.argRefLeft .js-acms_tab-active {
  background-color: global.$acms-color-white;
}

.argRefCenter {
  width: 360px;
  height: 100%;
  margin: 0 auto;
}

.argRefRight {
  float: left;
  width: 60%;
  height: 100%;
  text-align: left;
}

.argRefCenter ul,
.argRefRight ul {
  height: 90%;
  padding: 0;
  overflow-y: auto;
  background-color: global.$acms-color-white;
  border: 1px solid silver;
  border-left: none;
}

.argRefCenter ul {
  border-left: 1px solid silver;
}

.argRefCenter ul li,
.argRefRight ul li {
  margin-bottom: 3px;
  list-style: none;
}

.argRefCenter ul li a,
.argRefRight ul li a {
  display: block;
  width: 98%;
  padding: 3px 0 3px 2%;
}

.argRefCenter ul li a:hover,
.argRefRight ul li a:hover {
  color: white;
  background-color: global.$acms-color-white;
}

.argRefRight:not(:target) {
  // stylelint-disable-next-line unit-no-unknown
  width: 260px\9; /* IE9・IE10 */
}
