// 目次
// ------------------------------

// 01. 基本設定
// 01. ナビゲーション
// 02. レイアウトモジュール

// ------------------------------
//  基本設定
// ------------------------------
$base-bg-gray: #4b4b4b;
$base-bg-light-gray: #f1f1f1;
$base-bg-light-white: #fff;
$base-bg-link-color: #4b4b4b;
$base-bg-primary: #35353a;
$edit-entry-bg-color-white: #fff;
$edit-entry-bg-color-lightest: #f7f7f7;
$edit-entry-bg-color-light: #f2f2f5;
$edit-entry-bg-color-base: #e2e2e8;
$edit-entry-bg-color-dark: #d2d2db;
$edit-entry-bg-color-darker: #a2a2b3;
$edit-entry-bg-color-darkest: #595963;

// ------------------------------
//  ナビゲーション
// ------------------------------
$header-nav-color: #fff;

// ------------------------------
//  システムの更新
// ------------------------------
$update-panel-border-radius: 6px;

// ------------------------------
//  パスワード 強度メーター
// ------------------------------
$password-strength-default-color: #999;
$password-strength-danger-color: #c5001d;
$password-strength-anxiety-color: #ffa342;
$password-strength-warning-color: #ffed60;
$password-strength-reasonable-color: #009812;
$password-strength-secure-color: #005cee;

// ------------------------------
//  SELECT2
// ------------------------------
$select2-result-options-max-height: 480px;

// ------------------------------
//  レイアウトモジュール
// ------------------------------
$layout-placeholder-bg: #eeced6;
$layout-placeholder-border: #d1263d;
$layout-placeholder-color: #d1263d;
$module-placeholder-bg: #cedbee;
$module-placeholder-border: #73a4fc;
$module-placeholder-color: #73a4fc;
$layout-unit-color: #cedbee;
$layout-unit-bg: #efefef;
$layout-unit-border: #ccc;
$layout-contents-border: #999;
$layout-module-unit-color: #fff;
$layout-module-unit-bg: #7096cc;
$layout-module-unit-border: #ccc;
$layout-edit-border: #ccc;
