// ------------------------------
// スクロールテーブル
// ------------------------------
@mixin table-scroll() {
  overflow: scroll hidden;
  -webkit-overflow-scrolling: touch;

  th:not([style*='max-width']),
  td:not([style*='max-width']) {
    white-space: nowrap;
  }
}
