<!DOCTYPE html>
<html class="is-admin-page no-js" lang="ja">
<head>
  @section("admin-meta")
  @include("/include/head/admin-meta.html")
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  @endsection

  @section("admin-title")
  <!-- BEGIN_MODULE Ogp -->
  <title>{title}</title>
  <!-- END_MODULE Ogp -->
  @endsection

  @section("admin-css")
  @include("/include/head/admin-css.html")
  @endsection

  @section("editor-css")
  <link rel="stylesheet" href="/css/acms-editor.min.css">
  @endsection

  @section("admin-js")
  @include("/include/head/admin-js.html")
  @endsection
</head>
<body id="top" class="%{ADMIN}">
  <!-- BEGIN_IF [%{ADMIN}/nre/^(entry-edit|form2-edit)$] -->
  <div class="acms-admin-nav">
    <!-- BEGIN_MODULE Admin_Menu -->
    <header class="acms-admin-navbar-system">
      @section("navbar-admin")
      <nav class="acms-admin-navbar-admin" aria-label="<!--T-->管理用ナビゲーション<!--/T-->">
        <button class="nav-btn js-offcanvas-btn js-offcanvas-btn-l" id="nav-open-btn" data-target="#nav">
          <i class="acms-admin-icon-sort acms-admin-bg-black"></i>
          <span class="acms-admin-hide-visually"><!--T-->メニュー<!--/T--></span>
        </button>
        <div class="acms-admin-list-blog acms-admin-hide-sp">
          <!-- BEGIN dashboard -->
          <p class="acms-admin-title-cms">
            <a href="{url}" class="js-acms-tooltip" data-acms-position="right" data-acms-tooltip="ダッシュボード">
              <i class="acms-admin-icon acms-admin-icon-logo acms-admin-blog-color"></i>
              <span class="acms-admin-hide-visually">a-blog cms ダッシュボードへ</span>
            </a>
          </p>
          <!-- END dashboard -->
        </div>
        <div class="acms-admin-list-blog-sp">
          <button
            type="button"
            class="js-search-everything acms-admin-btn-unstyled acms-admin-header-btn"
          >
            <i class="acms-admin-icon-search" aria-hidden="true"></i>
            <span class="acms-admin-hide-visually"><!--T-->検索<!--/T--></span>
          </button>
        </div>

        <div class="acms-admin-navbar-admin-right acms-admin-hide-sp">
          <ul class="acms-admin-navbar-admin-nav">
            <li>
              <a href="%{BLOG_URL}" class="js-acms-tooltip" data-acms-position="right" data-acms-tooltip="サイトを表示">
                <i
                  class="acms-admin-icon acms-admin-icon-exit"
                  aria-hidden="true"
                ></i>
                <span class="acms-admin-hide-visually">
                  <!--T-->サイトを表示<!--/T-->
                </span>
              </a>
            </li>
            <li>
              <button
                type="button"
                class="js-search-everything js-acms-tooltip"
                data-acms-position="right"
                data-acms-tooltip="検索"
              >
                <i
                  class="acms-admin-icon acms-admin-icon-search"
                  aria-hidden="true"
                ></i>
                <span class="acms-admin-hide-visually"><!--T-->検索<!--/T--></span>
              </button>
            </li>
            <!-- BEGIN user#profile -->
            @section("navbar-admin-profile")
            <li class="js-acms-dropdown-toggle acms-admin-dropdown-right">
              <button
                type="button"
                class="js-acms-dropdown-btn js-acms-tooltip acms-admin-btn-unstyled"
                data-acms-position="right"
                data-acms-tooltip="<!--T-->ユーザー情報を表示<!--/T-->"
              >
                <img
                  src="%{ARCHIVES_DIR}{icon}"
                  width="26"
                  height="26"
                  alt=""
                  class="acms-admin-user-profile"
                >
              </button>
              <div class="js-acms-dropdown-menu acms-admin-dropdown-menu acms-admin-dropdown-menu-lg acms-admin-padding-left-right-none acms-admin-padding-top-none">
                <div class="acms-admin-navbar-admin-nav-header">
                  <div class="acms-admin-navbar-admin-nav-icon-wrap">
                    <img
                      src="%{ARCHIVES_DIR}{icon}"
                      width="26"
                      height="26"
                      alt="%{SESSION_USER_NAME}"
                      class="acms-admin-user-profile"
                    >
                  </div>
                  <div class="acms-admin-navbar-admin-nav-status">
                    <p class="acms-admin-navbar-admin-nav-username">%{SESSION_USER_NAME}</p>
                    <p class="acms-admin-navbar-admin-nav-usercode">%{SESSION_USER_CODE}</p>
                    <span class="acms-admin-label acms-admin-label-info">
                      <!-- BEGIN_IF [%{SESSION_USER_AUTH}/eq/administrator] -->
                      <!-- T -->管理者権限<!-- /T -->
                      <!-- ELSE_IF [%{SESSION_USER_AUTH}/eq/editor] -->
                      <!-- T -->編集者権限<!-- /T -->
                      <!-- ELSE_IF [%{SESSION_USER_AUTH}/eq/contributor] -->
                      <!-- T -->投稿者権限<!-- /T -->
                      <!-- ELSE_IF [%{SESSION_USER_AUTH}/eq/subscriber] -->
                      <!-- T -->読者権限<!-- /T -->
                      <!-- END_IF -->
                    </span>
                  </div>
                </div>
                <ul>
                  <li>
                    <a href="{url}">
                      <!--T-->プロフィール変更<!--/T-->
                    </a>
                  </li>
                  <li>
                    <button type="submit" form="navbar-logout-form">
                      <!--T-->ログアウト<!--/T-->
                    </button>
                  </li>
                </ul>
              </div>
              <form id="navbar-logout-form" action="" method="post">
                <input type="hidden" name="ACMS_POST_Logout">
              </form>
            </li>
            @endsection
            <!-- END user#profile -->
            @section("navbar-admin-help")
            <li class="js-acms-dropdown-toggle acms-admin-dropdown-right">
              <button type="button" class="js-acms-dropdown-btn acms-admin-btn-unstyled js-acms-tooltip" data-acms-position="right" data-acms-tooltip="ヘルプ">
                <i class="acms-admin-icon acms-admin-icon-tooltip" aria-hidden="true"></i>
                <span class="acms-admin-hide-visually"><!--T-->ヘルプ<!--/T--></span>
              </button>
              <div role="menu" class="js-acms-dropdown-menu acms-admin-dropdown-menu">
                <div role="group" class="acms-admin-dropdown-menu-group">
                  <span class="acms-admin-dropdown-menu-group-title"><!--T-->管理画面<!--/T--></span>
                  <a role="menuitem" href="%{BLOG_URL}">
                    <!--T-->サイトを表示<!--/T-->
                  </a>
                  <button
                    role="menuitem"
                    type="button"
                    class="js-keyboard-shortcut-modal-open"
                  >
                    <!--T-->キーボードショートカット<!--/T-->
                  </button>
                </div>
                <div role="group" class="acms-admin-dropdown-menu-group">
                  <span class="acms-admin-dropdown-menu-group-title"><!--T-->外部リンク<!--/T--></span>
                  <a
                    href="https://developer.a-blogcms.jp/document/introduction.html"
                    target="_blank"
                    rel="noopener noreferrer"
                    role="menuitem"
                  >
                    <!--T-->ドキュメント<!--/T-->
                  </a>
                  <a
                    href="https://www.a-blogcms.jp/manual/"
                    target="_blank"
                    rel="noopener noreferrer"
                    role="menuitem"
                  >
                    <!--T-->運用マニュアル<!--/T-->
                  </a>
                  <a
                    href="https://www.a-blogcms.jp/support/"
                    target="_blank"
                    rel="noopener noreferrer"
                    role="menuitem"
                  >
                    <!--T-->サポート<!--/T-->
                  </a>
                  <a
                    href="https://developer.a-blogcms.jp/forum.html"
                    target="_blank"
                    rel="noopener noreferrer"
                    role="menuitem"
                  >
                    <!--T-->フォーラム<!--/T-->
                  </a>
                  <a
                    href="https://mypage.a-blogcms.jp"
                    target="_blank"
                    rel="noopener noreferrer"
                    role="menuitem"
                  >
                    <!--T-->ライセンス購入<!--/T-->
                  </a>
                </div>
              </div>
            </li>
            @endsection

            @section("navbar-admin-usefull")
            <!-- BEGIN_MODULE Touch_SessionWithAdministration -->
            <li class="js-acms-dropdown-toggle acms-admin-dropdown-right">
              <button type="button" class="js-acms-dropdown-btn js-acms-tooltip" data-acms-position="right" data-acms-tooltip="開発">
                <i class="acms-admin-icon acms-admin-icon-config_function" aria-hidden="true"></i>
                <span class="acms-admin-hide-visually">開発</span>
              </button>
              <ul class="js-acms-dropdown-menu acms-admin-dropdown-menu acms-admin-dropdown-menu-lg">
                <li>
                  <a href="%{ADMIN_BASE_URL}bid/%{BID}/admin/customfield_maker/">カスタムフィールドメーカー</a>
                </li>
                <li>
                  <a
                    href="https://developer.a-blogcms.jp/tools/escape.html"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    エスケープメーカー
                  </a>
                </li>
                <li>
                  <hr class="acms-admin-divider">
                </li>
                <li>
                  <a
                    href="https://developer.a-blogcms.jp/document/reference/built_in.html"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    ビルトインモジュール
                  </a>
                </li>
                <li>
                  <a
                    href="https://developer.a-blogcms.jp/document/reference/field.html"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    フィールドモジュール
                  </a>
                </li>
                <li>
                  <a
                    href="https://developer.a-blogcms.jp/document/reference/touch.html"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    タッチモジュール
                  </a>
                </li>
                <li>
                  <a
                    href="https://developer.a-blogcms.jp/document/reference/global_variable.html"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    グローバル変数
                  </a>
                </li>
                <li>
                  <a
                    href="https://developer.a-blogcms.jp/document/reference/proofreading.html"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    校正オプション
                  </a>
                </li>
                <li>
                  <a
                    href="https://developer.a-blogcms.jp/document/reference/form_option.html"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    フォームオプション
                  </a>
                </li>
                <li>
                  <a
                    href="https://developer.a-blogcms.jp/document/reference/acms_path.html"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    acmsパス
                  </a>
                </li>
                <li>
                  <a href="%{ADMIN_BASE_URL}bid/%{BID}/admin/styleguide_acms-admin/">スタイルガイド</a>
                </li>
              </ul>
            </li>
            <!-- END_MODULE Touch_SessionWithAdministration -->
            @endsection
          </ul>
        </div>
      </nav>
      @endsection
    </header>

    <div id="nav" class="js-offcanvas">
      <div id="sidebar">
        <div class="sidebar-container">
          <nav class="acms-admin-sidebar">
            <div class="acms-admin-sidebar-header">
              <div class="acms-admin-sidebar-sp">
                <ul class="acms-admin-sidebar-sp-list">
                  <li class="acms-admin-sidebar-sp-list-item">
                    <a href="%{BLOG_URL}">
                      <i class="acms-admin-icon acms-admin-icon-exit"></i>
                      <span class="acms-admin-sidebar-sp-list-text"><!--T-->サイトを表示<!--/T--></span>
                    </a>
                  </li>
                  <!-- BEGIN user#profile -->
                  <li class="acms-admin-sidebar-sp-list-item">
                    <a href="/bid/%{SBID}/uid/%{SUID}/admin/user_edit/">
                      <img
                        src="%{ARCHIVES_DIR}{icon}"
                        width="26"
                        height="26"
                        alt="%{SESSION_USER_NAME}"
                        class="acms-admin-user-profile"
                      >
                      <span class="acms-admin-text-ellipsis-container">
                        <span class="acms-admin-sidebar-sp-list-text acms-admin-text-ellipsis">
                          %{SESSION_USER_NAME}
                        </span>
                      </span>
                    </a>
                  </li>
                  <!-- END user#profile -->
                  <li class="acms-admin-sidebar-sp-list-item">
                    <form action="" method="post">
                      <button type="submit" name="ACMS_POST_Logout">
                        <i class="acms-admin-icon acms-admin-icon-logout"></i>
                        <span class="acms-admin-sidebar-sp-list-text"><!--T-->ログアウト<!--/T--></span>
                      </button>
                    </form>
                  </li>
                </ul>
              </div>
              <div class="js-acms-dropdown-toggle acms-admin-dropdown-right acms-admin-dropdown-toggle-sp">
                <h1 class="acms-admin-title-blog">
                  <button type="button" class="js-acms-dropdown-btn acms-admin-btn-unstyled" aria-haspopup="true">
                    %{BLOG_NAME}
                    <span class="acms-admin-arrow-right"></span>
                  </button>
                </h1>
                <!-- BEGIN_MODULE Admin_Blog_SelectGlobal -->
                <ul class="js-acms-dropdown-menu acms-admin-dropdown-menu acms-admin-list-scroll" data-pos-my="left top" data-pos-at="right top">
                  <!-- BEGIN loop -->
                  <li<!-- BEGIN_IF [{value}/eq/%{BID}] --> class="acms-admin-dropdown-current"<!-- END_IF -->>
                    <a href="{adminUrl}">
                      {indent}[raw]{label}
                      <!-- BEGIN_IF [{value}/eq/%{BID}] -->
                      <span class="acms-admin-dropdown-current-icon"></span>
                      <span class="acms-admin-hide-visually">現在いるブログ</span>
                      <!-- END_IF -->
                    </a>
                  </li><!-- END loop -->
                </ul>
                <!-- END_MODULE Admin_Blog_SelectGlobal -->
              </div>
            </div>

            <div class="acms-admin-sidebar-main">
              @section("admin-menu")
              @section("admin-menu-license")
              <div class="acms-admin-sidebar-link">
                <ul>
                  <!-- BEGIN dashboard -->
                  <li {stay}[raw]>
                    <a href="{url}">
                      <i class="acms-admin-icon acms-admin-icon-dashboard"></i>
                      <!--T-->ダッシュボード<!--/T-->
                    </a>
                  </li>
                  <!-- END dashboard -->
                  <!-- BEGIN update -->
                  <li {stay}[raw]>
                    <a href="{url}">
                      <i class="acms-admin-icon acms-admin-icon-publish"></i>
                      <!--T-->更新<!--/T-->
                      <!-- BEGIN_IF [{update}/eq/1] -->
                      &nbsp;&nbsp;&nbsp;<span class="acms-admin-badge acms-admin-badge-approval">{update}</span>
                      <!-- END_IF -->
                    </a>
                  </li>
                  <!-- END update -->
                </ul>
              </div>
              @endsection
              <dl>
                <!-- BEGIN_MODULE Admin_MenuCustom -->
                <!-- BEGIN categories:loop -->
                <dt class="acms-admin-sidebar-title"><!--T-->{title}<!--/T--></dt>
                <dd class="acms-admin-sidebar-link">
                  <ul><!-- BEGIN menus:loop -->
                    <li {stay}[raw]>
                      <a href="{url}">
                        <i class="acms-admin-icon {icon}"></i>
                        <!--T-->{title}<!--/T-->
                        <!-- BEGIN_IF [{badge}/nem/] -->
                        &nbsp;<span class="acms-admin-badge acms-admin-badge-approval">{badge}</span>
                        <!-- END_IF -->
                      </a>
                    </li><!-- END menus:loop -->
                  </ul>
                </dd>
                <!-- END categories:loop -->
                <!-- END_MODULE Admin_MenuCustom -->

                @section("admin-menu-app")
                <!-- BEGIN_MODULE Admin_App_Menu -->
                <!-- BEGIN app:veil -->
                <dt class="acms-admin-sidebar-title"><!--T-->拡張メニュー<!--/T--></dt>
                <dd class="acms-admin-sidebar-link">
                  <ul>
                    <!-- BEGIN app:loop -->
                    <li {stay}[raw]>
                      <a href="{url}">
                        <span class="acms-admin-icon acms-admin-icon-app"></span>
                        {name}
                      </a>
                    </li>
                    <!-- END app:loop -->
                  </ul>
                </dd>
                <!-- END app:veil -->
                <!-- END_MODULE Admin_App_Menu -->
                @endsection
              </dl>
              @endsection
            </div>
          </nav>
          <!-- キーボードでアクセス可能な閉じるボタン -->
          <button type="button" class="js-offcanvas-close acms-admin-btn-unstyled">
            <span class="acms-admin-hide-visually">コンテンツに戻る</span>
          </button>
        </div>
      </div>
    </div>
    <!-- END_MODULE Admin_Menu -->
  </div>
  <!-- END_IF -->

  <div id="acms-admin-main">
    <main id="main" role="main">
      <div id="admin-toast">
        <div class="acms-admin-hide-tablet">
        <!-- 開発モード用のトースト -->
        @include("/admin/include/parts/toasts/development.html", {
          "static": "on"
        })

        <!-- トライアルモード用のトースト -->
        @include("/admin/include/parts/toasts/trial.html", {
          "static": "on"
        })
        </div>
      </div>

      <div id="admin-error">
        @section("admin-error")
        @include("/admin/include/system-error.html")
        @endsection
      </div>
      <div id="admin-main">
        @section("admin-main")
        @include("/admin/%{ADMIN_PATH}.html")
        <!-- BEGIN_MODULE Admin_InjectTemplate id="admin-main" --><!-- END_MODULE Admin_InjectTemplate -->
        @endsection
      </div>
    </main>
  </div>
  <div class="acms-admin-hide-sp">
    <!-- 開発モード用のトースト -->
    @include("/admin/include/parts/toasts/development.html")

    <!-- トライアルモード用のトースト -->
    @include("/admin/include/parts/toasts/trial.html")
  </div>
</body>
</html>
