<!-- BEGIN_MODULE Category_EntrySummary -->
<div>
@include("/admin/module/setting.html")

<!-- BEGIN categoryEntryList:loop --><!-- BEGIN categoryUl#front -->
<!-- END categoryUl#front --><!-- BEGIN category:loop -->
<div class="{category:loop.class}">
  <h3 class="acms-admin-heading"><a href="{categoryUrl}">{categoryName}</a></h3>
  <!-- BEGIN notFound --><p>ただいまページを準備しております。もうしばらくお待ちください。</p><!-- END notFound -->
    <div class="acms-admin-cssgrid<!-- BEGIN_IF [{category.loop.class}/nem] --> {category.loop.class}<!-- ELSE --> acms-admin-g-cols-1 acms-admin-g-cols-sm-2 acms-admin-g-cols-md-3<!-- END_IF -->">
    <!-- BEGIN unit:loop -->
      <!-- BEGIN entry:loop -->
        <div>
          <a class="acms-admin-thumbnail" href="{url}">
              <!-- BEGIN_IF [{path}/nem] --><img src="%{ROOT_DIR}{path}" alt="" width="{imgX}" height="{imgY}"><!-- ELSE --><img src="/images/default/noimage.gif" alt="" class="acms-admin-img-responsive"><!-- END_IF -->
            <h4>{title}</h4>
            <p>{summary}[trim(150, '...')]</p>
          </a>
        </div><!-- END entry:loop -->
      <!-- END unit:loop -->
    </div>
  </div><!-- END category:loop --><!-- BEGIN categoryLi#rear -->
  <!-- END categoryLi#rear --><!-- BEGIN categoryUl#rear -->
<!-- END categoryUl#rear --><!-- END categoryEntryList:loop -->

</div>
<!-- END_MODULE Category_EntrySummary -->
