<!-- BEGIN adminEntryAction -->
@section("action-group")
<div class="acms-admin-btn-action-group">
  <div class="acms-admin-hstack">
    <!-- BEGIN edit -->
    @section("entry-edit")
    <form action="" method="post">
      <button
        type="submit"
        class="acms-admin-btn-admin"
        aria-label="<!--T-->エントリーを編集する<!--/T-->"
      >
        <!--T-->編集<!--/T-->
      </button>
      <input type="hidden" name="ACMS_POST_2GET" value="on">
      <input type="hidden" name="eid" value="{eid}">
      <input type="hidden" name="cid" value="{cid}">
      <input type="hidden" name="bid" value="{bid}">
      <input type="hidden" name="admin" value="entry-edit"/>
      <input type="hidden" name="query" value="rvid"/>
      <input type="hidden" name="rvid" value="{rvid}"/>
    </form>
    @endsection
    @section("entry-replicate")
    <form action="" method="post">
      <button
        type="submit"
        name="ACMS_POST_Entry_Duplicate"
        class="acms-admin-btn-admin"
        onclick="javascript:return confirm('<!--T-->エントリーを複製します。よろしいですか？<!--/T-->')"
        aria-label="<!--T-->エントリーを複製する<!--/T-->"
      >
        <!--T-->複製<!--/T-->
      </button>
      <input type="hidden" name="eid" value="{eid}">
      <input type="hidden" name="cid" value="{cid}">
      <input type="hidden" name="bid" value="{bid}">
    </form>
    @endsection
    <!-- BEGIN_MODULE Touch_sessionWithApprovalAdministrator -->
    <!-- BEGIN_MODULE Touch_Form2 -->
    @section("entry-form")
    <form action="" method="post">
      <button
        type="submit"
        class="acms-admin-btn-admin"
        aria-label="<!--T-->動的フォームを追加する<!--/T-->"
      >
        <!--T-->フォーム<!--/T-->
      </button>
      <input type="hidden" name="ACMS_POST_2GET" value="on"/>
      <input type="hidden" name="admin" value="form2-edit"/>
      <input type="hidden" name="bid" value="{bid}"/>
      <input type="hidden" name="cid" value="{cid}"/>
      <input type="hidden" name="eid" value="{eid}"/>
    </form>
    @endsection
    <!-- END_MODULE Touch_Form2 -->
    <!-- END_MODULE Touch_sessionWithApprovalAdministrator -->
    <!-- END edit -->

    <!-- BEGIN delete -->
    @section("entry-delete")
    <form action="" method="post">
      <button
        type="submit"
        name="ACMS_POST_Entry_Trash"
        class="acms-admin-btn-admin"
        onclick="javascript:return confirm('<!--T-->エントリーを削除します。よろしいですか？<!--/T-->')"
        aria-label="<!--T-->エントリーを削除する<!--/T-->"
      >
        <!--T-->削除<!--/T-->
      </button>
      <input type="hidden" name="bid" value="{bid}"/>
      <input type="hidden" name="cid" value="{cid}"/>
      <input type="hidden" name="eid" value="{eid}"/>
    </form>
    @endsection
    <!-- END delete -->

    <!-- BEGIN_MODULE Touch_sessionWithApprovalAdministrator -->
    <!-- BEGIN open -->
    @section("entry-open")
    <form action="" method="post">
      <button
        type="submit"
        name="ACMS_POST_Entry_Open"
        class="acms-admin-btn-admin"
        aria-label="<!--T-->エントリーを公開する<!--/T-->"
      >
        <!--T-->公開<!--/T-->
      </button>
      <input type="hidden" name="bid" value="{bid}"/>
      <input type="hidden" name="cid" value="{cid}"/>
      <input type="hidden" name="eid" value="{eid}"/>
    </form>
    @endsection
    <!-- END open -->

    <!-- BEGIN close -->
    @section("entry-close")
    <form action="" method="post">
      <button
        type="submit"
        name="ACMS_POST_Entry_Close"
        class="acms-admin-btn-admin"
        aria-label="<!--T-->エントリーを非公開にする<!--/T-->"
      >
        <!--T-->非公開<!--/T-->
      </button>
      <input type="hidden" name="bid" value="{bid}"/>
      <input type="hidden" name="cid" value="{cid}"/>
      <input type="hidden" name="eid" value="{eid}"/>
    </form>
    @endsection
    <!-- END close -->
    <!-- END_MODULE Touch_sessionWithApprovalAdministrator -->
  </div>
</div>
@endsection
<!-- END adminEntryAction -->
