<header>
  <div>
    @include("/admin/topicpath.html")
  </div>
  <div class="acms-admin-page-header-detail">
    <div class="acms-admin-page-header-title">
      <h1 class="acms-admin-admin-title js-dialog-title"><!--T-->エントリー管理<!--/T--></h1>
    </div>
    <!-- BEGIN_MODULE Touch_SessionWithAdministration -->
    <!-- BEGIN_MODULE Touch_EntryAdminV1 -->
    <div class="acms-admin-page-header-side">
      <p class="acms-admin-page-header-btn"><a href="%{HTTP_ROOT}bid/%{BID}/admin/entry_import/" class="acms-admin-btn">インポート</a></p>
    </div>
    <!-- END_MODULE Touch_EntryAdminV1 -->
    <!-- END_MODULE Touch_SessionWithAdministration -->
  </div>
</header>

<!-- BEGIN_MODULE Touch_EntryAdminV1 -->
@include("/admin/entry/index/v1.html")
<!-- END_MODULE Touch_EntryAdminV1 -->

<!-- BEGIN_MODULE Touch_EntryAdminV2 -->
@include("/admin/entry/index/v2.html")
<!-- END_MODULE Touch_EntryAdminV2 -->
